* {
 margin: 0;
}

a {
 color: white;
 text-decoration: none;
}

a:hover {
 text-shadow: 0 0 100px;
}

body {
 align-items: center;
 display: flex;
 justify-content: center;
 min-height: 100%;
}

html {
 font-size: 60vmin;
 height: 100%;
}
