.thumbnails {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--thumbnail), 1fr));

  a {
    aspect-ratio: 1 / 1;
  }

  img {
    object-fit: contain;
  }

  .creator {
    color: var(--muted);
  }
}
