main:has(> p) {
  display: grid;
  font-size: max(1rem, 4vmin);
  place-items: center;
  text-align: center;
}

main > p > code {
  background-color: var(--surface);
  border-radius: var(--radius);
  padding: var(--space-1);
}

.thumbnails {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--thumbnail), 1fr));

  a {
    aspect-ratio: 1 / 1;
  }

  img {
    object-fit: contain;
  }

  .creator {
    color: var(--muted);
  }
}
