:root {
  --primary: rgb(255 255 255 / 87%);
  --secondary: rgb(255 255 255 / 60%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: #4169e1;
}

a:not(:hover) {
  text-decoration: none;
}

a:not([href]) {
  color: var(--primary);
}

h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

dd {
  overflow-wrap: anywhere;
}

code, .code {
  font-family: monospace, monospace;
}

html {
  background-color: #121212;
  color-scheme: dark;
  color: var(--primary);
  font-family: sans-serif;
}
