*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: #4169e1;
}

a:not(:hover) {
  text-decoration: none;
}

html {
  background-color: #121212;
  color-scheme: dark;
  color: rgb(255 255 255 / 87%);
  font-family: sans-serif;
}
