:root {
  --primary: rgb(255 255 255 / 87%);
  --secondary: rgb(255 255 255 / 60%);
  --tertiary: rgb(255 255 255 / 38%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: #4169e1;
}

a:not([href]) {
  color: var(--primary);
}

a:not(:hover) {
  text-decoration: none;
}

html {
  background-color: #121212;
  color-scheme: dark;
  color: var(--primary);
  font-family: sans-serif;
}
