body {
  height: 100dvh;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 0;
  padding: 0;
}

img, video {
  flex: 1;
  min-height: 0;
  width: 100%;
}

img {
  object-fit: contain;
}

audio:focus, video:focus {
  outline: none;
}

hgroup {
  background-color: var(--surface);
  overflow-wrap: anywhere;
  padding: var(--space-2);

  h1 {
    font-size: 1.25em;
    margin: 0;
  }

  p {
    color: var(--muted);
    font-size: 0.875em;
    margin: 0;

    a {
      color: inherit;
    }
  }
}

audio {
  width: 100%;

  &::-webkit-media-controls-enclosure {
    border-radius: 0;
  }
}
