time {
  margin-left: 0.5rem;
}

.artwork {
  border-radius: 2%;
  height: auto;
  max-width: 100%;
}

.thumbnails {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  list-style: none;
  padding-left: 0;

  a {
    align-items: center;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;

    &:hover img, &:focus-visible img {
      border-color: var(--border-hover);
    }
  }

  img {
    border-radius: 8px;
    border: 1px solid var(--border);
    display: block;
    max-height: 100%;
    max-width: 100%;
    transition: border-color 150ms;
  }
}
