<h1>Directory {{ self.hash }}</h1>
<table>
  <thead>
    <tr>
      <th>name</th>
      <th>download</th>
    </tr>
  </thead>
  <tbody>
%% for (name, entry) in &self.directory.entries {
    <tr>
%%   match entry {
%%     Entry::Directory { hash, .. } => {
      <td><a href=/directory/{{ hash }}>{{ name }}/</a></td>
%%     }
%%     Entry::File { hash, .. } => {
%%       if ResourceType::from_filename(name).is_some() {
      <td><a href=/file/{{ hash }}/{{ name.percent_encode_segment() }}>{{ name }}</a></td>
%%       } else {
      <td>{{ name }}</td>
%%       }
%%     }
%%   }
      <td class=size><a href=/file/{{ entry.hash() }} download="{{ name }}">{{ format_size(entry.size()) }}</a></td>
    </tr>
%% }
  </tbody>
</table>
