<table>
  <thead>
    <tr>
      <th>open</th>
      <th>download</th>
    </tr>
  </thead>
  <tbody>
%% for (name, entry) in &self.0.entries {
    <tr>
%%   match entry.ty() {
%%     EntryType::Directory => {
      <td><a href=/directory/{{ entry.hash }}>{{ name }}/</a></td>
%%     }
%%     EntryType::File => {
%%       if ResourceType::from_filename(name).is_some() {
      <td><a href='/file/{{ entry.hash }}/{{ name.percent_encode_segment() }}'>{{ name }}</a></td>
%%       } else {
      <td><a>{{ name }}</a></td>
%%       }
%%     }
%%   }
      <td class=right><a href=/file/{{ entry.hash }} download="{{ name }}">{{ format_size(entry.size) }}</a></td>
    </tr>
%% }
  </tbody>
</table>
