%% match self.0 {
%%   Info::Code(value) => {
<code>{{ value }}</code>
%%   }
%%   Info::Link { code, text, url } => {
%%     if *code {
<a href='{{ url }}'><code>{{ text }}</code></a>
%%     } else {
<a href='{{ url }}'>{{ text }}</a>
%%     }
%%   }
%%   Info::List(items) => {
<ol role=list>
%%     for item in items {
  <li>
    {{ Trusted(InfoHtml(item)) }}
  </li>
%%     }
</ol>
%%   }
%%   Info::Map(entries) => {
<dl>
%%     for (key, value) in entries {
  <div>
    <dt>{{ key }}</dt>
    <dd>
      {{ Trusted(InfoHtml(value)) }}
    </dd>
  </div>
%%     }
</dl>
%%   }
%%   Info::Value(value) => {
{{ value }}
%%   }
%% }
