%% match self.media() {
%%   Media::Audio { .. } => {
<img src=/artwork/{{ self.fingerprint }}>
<audio autofocus controls src=/media/audio/{{ self.fingerprint }}/item/{{ Ordinal(self.index) }}></audio>
%%   }
%%   Media::Image { items } => {
%%     let dimensions = items[self.index].content.oriented_dimensions();
<img src=/media/image/{{ self.fingerprint }}/item/{{ Ordinal(self.index) }} width={{ dimensions.width }} height={{ dimensions.height }}>
%%   }
%%   Media::Video { .. } => {
<video
  autofocus
  controls
%%     if self.item().placeholder().is_some() {
  poster=/media/video/{{ self.fingerprint }}/item/{{ Ordinal(self.index) }}/placeholder
%%     }
  src=/media/video/{{ self.fingerprint }}/item/{{ Ordinal(self.index) }}></video>
%%   }
%%   Media::Web => unreachable!(),
%% }
<footer>
  <hgroup>
    <h1>{{ self.item().display_title(self.index) }}</h1>
    <p>
%% if let Some(creator) = self.creator() {
      <span>{{ creator }}</span>
%% }
      <a href=/package/{{ self.fingerprint }}>
%% if let Some(title) = self.title() {
        {{ title }}
%% } else {
        <code>{{ self.fingerprint }}</code>
%% }
      </a>
    </p>
  </hgroup>
  <button aria-label='Keyboard shortcuts' popovertarget=shortcuts title='Keyboard shortcuts'>?</button>
  <dl id=shortcuts popover>
    <div><dt><kbd>p</kbd></dt><dd>go to previous item</dd></div>
    <div><dt><kbd>n</kbd></dt><dd>go to next item</dd></div>
    <div><dt><kbd>u</kbd></dt><dd>go to package</dd></div>
    <div><dt><kbd>f</kbd></dt><dd>toggle full screen</dd></div>
    <div><dt><kbd>?</kbd></dt><dd>toggle shortcuts</dd></div>
  </dl>
</footer>
