<header>
  <h1>Packages</h1>
  <nav>
%% match self.view {
%%   View::List => {
    <a>List</a> | <a href=/packages?view=grid>Grid</a>
%%   }
%%   View::Grid => {
    <a href=/packages>List</a> | <a>Grid</a>
%%   }
%% }
  </nav>
</header>
%% match self.view {
%%   View::Grid => {
<ul class=grid>
%%     for package in self.packages() {
  <li>
%%       if package.artwork {
    <a href=/package/{{ package.fingerprint }}>
      <img loading=lazy src=/artwork/{{ package.fingerprint }}/thumbnail>
    </a>
%%       } else {
    <a href=/package/{{ package.fingerprint }}></a>
%%       }
%%       if let Some(title) = package.title {
    <span class=title>{{ title }}</span>
%%       }
%%       if let Some(creator) = package.creator {
    <span class=creator>{{ creator }}</span>
%%       }
  </li>
%%     }
</ul>
%%   }
%%   View::List => {
<table>
  <thead>
    <tr>
      <th>title</th>
      <th>creator</th>
      <th>year</th>
      <th>media</th>
      <th class=right>files</th>
      <th class=right>size</th>
    </tr>
  </thead>
  <tbody>
%%     for package in self.packages() {
    <tr>
%%       if let Some(title) = package.title {
      <td><a href=/package/{{ package.fingerprint }}>{{ title }}</a></td>
%%       } else {
      <td><a href=/package/{{ package.fingerprint }}><code>{{ package.fingerprint }}</code></a></td>
%%       }
%%       if let Some(creator) = package.creator {
      <td>{{ creator }}</td>
%%       } else {
      <td></td>
%%       }
%%       if let Some(year) = package.year {
      <td>{{ year }}</td>
%%       } else {
      <td></td>
%%       }
%%       if let Some(media) = package.media {
      <td>{{ media }}</td>
%%       } else {
      <td></td>
%%       }
      <td class=right><a href=/directory/{{ Hash::from(package.fingerprint) }}>{{ package.files }}</a></td>
      <td class=right>{{ format_size(package.file_size) }}</td>
    </tr>
%%     }
  </tbody>
</table>
%%   }
%% }
