<h1>Package {{ self.fingerprint }}</h1>
%% if let Some(metadata) = &self.metadata {
%%   if metadata.artwork.is_some() {
<a href=/artwork/{{ self.fingerprint }}>
  <img src=/artwork/{{ self.fingerprint }} width=500 height=500>
</a>
%%   }
<a href=/directory/{{ Hash::from(self.fingerprint) }}>files</a>
<dl>
%%   if let Some(title) = &metadata.title {
  <dt>title</dt>
  <dd>{{ title }}</dd>
%%   }
%%   if let Some(creator) = &metadata.creator {
  <dt>creator</dt>
  <dd>{{ creator }}</dd>
%%   }
%%   if let Some(date) = &metadata.date {
  <dt>date</dt>
  <dd>{{ date }}</dd>
%%   }
%%   if let Some(description) = &metadata.description {
  <dt>description</dt>
  <dd>{{ description }}</dd>
%%   }
%%   if let Some(homepage) = &metadata.homepage {
  <dt>homepage</dt>
  <dd><a href={{ homepage }}>{{ homepage }}</a></dd>
%%   }
%%   if let Some(language) = &metadata.language {
  <dt>language</dt>
  <dd>{{ language }}</dd>
%%   }
%%   if let Some(media) = &metadata.media {
%%     match media {
%%       Media::Audio { tracks } => {
  <dt>tracks</dt>
  <dd>
    <ol>
%%         for (i, track) in tracks.iter().enumerate() {
      <li>
        <audio controls src=/media/{{ self.fingerprint }}/track/{{ i }}></audio>
      </li>
%%         }
    </ol>
  </dd>
%%       }
%%     }
%%   }
</dl>
%% }
