<header>
  <h1>Packages</h1>
</header>
<table>
  <thead>
    <tr>
%% for sort in Sort::iter() {
      {{ self.header(sort) }}
%% }
    </tr>
  </thead>
  <tbody>
%% for package in self.packages() {
    <tr>
%%   if let Some(title) = package.title {
      <td><a href=/package/{{ package.fingerprint }}>{{ title }}</a></td>
%%   } else {
      <td><a href=/package/{{ package.fingerprint }}><code>{{ package.fingerprint }}</code></a></td>
%%   }
%%   if let Some(creator) = package.creator {
      <td>{{ creator }}</td>
%%   } else {
      <td></td>
%%   }
%%   if let Some(year) = package.year {
      <td>{{ year }}</td>
%%   } else {
      <td></td>
%%   }
%%   if let Some(media) = package.media {
      <td>{{ media }}</td>
%%   } else {
      <td></td>
%%   }
      <td class=right><a href=/directory/{{ Hash::from(package.fingerprint) }}>{{ package.files }}</a></td>
      <td class=right>{{ format_size(package.file_size) }}</td>
    </tr>
%% }
  </tbody>
</table>
