%% if let Some(title) = self.title() {
<h1>{{ title }}</h1>
%% } else {
<h1>{{ self.fingerprint }}</h1>
%% }
%% if let Some(metadata) = &self.metadata {
%%   if metadata.artwork.is_some() {
<div>
  <a href=/artwork/{{ self.fingerprint }}>
    <img src=/artwork/{{ self.fingerprint }} width=500 height=500>
  </a>
</div>
%%   }
%% }
<dl>
  <dt>fingerprint</dt>
  <dd>{{ self.fingerprint }}</dd>
  <dt>size</dt>
  <dd>{{ format_size(self.totals.file_size) }}</dd>
  <dt>files</dt>
  <dd><a href=/directory/{{ Hash::from(self.fingerprint) }}>{{ self.totals.files }} files</a></dd>
%% if let Some(metadata) = &self.metadata {
%%   if let Some(title) = &metadata.title {
  <dt>title</dt>
  <dd>{{ title }}</dd>
%%   }
%%   if let Some(creator) = &metadata.creator {
  <dt>creator</dt>
  <dd>{{ creator }}</dd>
%%   }
%%   if let Some(date) = &metadata.date {
  <dt>date</dt>
  <dd>{{ date }}</dd>
%%   }
%%   if let Some(description) = &metadata.description {
  <dt>description</dt>
  <dd>{{ description }}</dd>
%%   }
%%   if let Some(homepage) = &metadata.homepage {
  <dt>homepage</dt>
  <dd><a href={{ homepage }}>{{ homepage }}</a></dd>
%%   }
%%   if let Some(language) = &metadata.language {
  <dt>language</dt>
  <dd>{{ language }}</dd>
%%   }
%%   if let Some(media) = &metadata.media {
  <dt>media</dt>
  <dd>{{ media.name() }}</dd>
%%     match media {
%%       Media::Audio { tracks } => {
  <dt>tracks</dt>
  <dd>{{ tracks.len() }}</dd>
  <dt>duration</dt>
  <dd>{{ DisplayDuration(tracks.iter().map(Track::duration).sum()) }}</dd>
%%       }
%%       Media::Image { images } => {
  <dt>images</dt>
  <dd>{{ images.len() }}</dd>
%%       }
%%     }
%%   }
%% }
</dl>
%% if let Some(metadata) = &self.metadata {
%%   if let Some(media) = &metadata.media {
%%     match media {
%%       Media::Audio { tracks } => {
<ul>
%%         for (i, track) in tracks.iter().enumerate() {
  <li>
    <a href=/package/{{ self.fingerprint }}/{{ Ordinal(i) }}>{{ track.title }}</a>
    {{ DisplayDuration(track.duration()) }}
  </li>
%%         }
</ul>
%%       }
%%       Media::Image { images } => {
<ul class=thumbnails>
%%         for (i, image) in images.iter().enumerate() {
  <li>
    <a href=/package/{{ self.fingerprint }}/{{ Ordinal(i) }}>
      <img loading=lazy src=/media/image/{{ self.fingerprint }}/image/{{ Ordinal(i) }}>
    </a>
  </li>
%%         }
</ul>
%%       }
%%     }
%%   }
%% }
