%% if let Some(title) = self.title() {
<h1>{{ title }}</h1>
%% } else {
<h1 class=code>{{ self.fingerprint }}</h1>
%% }
%% if let Some(metadata) = &self.metadata {
%%   if metadata.artwork.is_some() {
<div>
  <a href=/artwork/{{ self.fingerprint }}>
    <img class=artwork src=/artwork/{{ self.fingerprint }} width=500 height=500>
  </a>
</div>
%%   }
%% }
<dl>
  <dt>fingerprint</dt>
  <dd class=code>{{ self.fingerprint }}</dd>
  <dt>size</dt>
  <dd>{{ format_size(self.totals.file_size) }}</dd>
  <dt>files</dt>
  <dd><a href=/directory/{{ Hash::from(self.fingerprint) }}>{{ self.totals.files }} files</a></dd>
%% if let Some(metadata) = &self.metadata {
%%   if let Some(title) = &metadata.title {
  <dt>title</dt>
  <dd>{{ title }}</dd>
%%   }
%%   if let Some(creator) = &metadata.creator {
  <dt>creator</dt>
  <dd>{{ creator }}</dd>
%%   }
%%   if let Some(date) = &metadata.date {
  <dt>date</dt>
  <dd>{{ date }}</dd>
%%   }
%%   if let Some(description) = &metadata.description {
  <dt>description</dt>
  <dd>{{ description }}</dd>
%%   }
%%   if let Some(homepage) = &metadata.homepage {
  <dt>homepage</dt>
  <dd><a href={{ homepage }}>{{ homepage }}</a></dd>
%%   }
%%   if let Some(language) = &metadata.language {
  <dt>language</dt>
  <dd>{{ language }}</dd>
%%   }
%%   if let Some(media) = &metadata.media {
  <dt>media</dt>
  <dd>{{ media.name() }}</dd>
%%     match media {
%%       Media::Audio { tracks } => {
  <dt>tracks</dt>
  <dd>{{ tracks.len() }}</dd>
  <dt>duration</dt>
  <dd>{{ DisplayDuration(Audio::sum_durations(tracks)) }}</dd>
%%         if !tracks.is_empty() {
  <dt>format</dt>
%%           for format in Audio::formats(tracks) {
  <dd>{{ format }}</dd>
%%           }
%%         }
%%       }
%%       Media::Image { images } => {
  <dt>images</dt>
  <dd>{{ images.len() }}</dd>
%%         if !images.is_empty() {
  <dt>format</dt>
%%           for format in Image::formats(images) {
  <dd>{{ format }}</dd>
%%           }
%%         }
%%       }
%%       Media::Video { videos } => {
  <dt>videos</dt>
  <dd>{{ videos.len() }}</dd>
%%         if !videos.is_empty() {
  <dt>format</dt>
%%           for format in Video::formats(videos) {
  <dd>{{ format }}</dd>
%%           }
%%         }
%%       }
%%     }
%%   }
%% }
</dl>
%% if let Some(metadata) = &self.metadata {
%%   if let Some(media) = &metadata.media {
%%     match media {
%%       Media::Audio { tracks } => {
%%         let mut i = 0;
%%         for disc in tracks.chunk_by(|a, b| a.disc == b.disc) {
%%           if disc[0].discs > 1 {
<h2>disc {{ disc[0].disc }}</h2>
%%           }
<ol>
%%           for audio in disc {
  <li>
    <a href=/package/{{ self.fingerprint }}/{{ Ordinal(i) }}>{{ audio.title }}</a>
    <time datetime={{ Iso8601Duration(audio.duration()) }}>{{ DisplayDuration(audio.duration()) }}</time>
  </li>
%%             i += 1;
%%           }
</ol>
%%         }
%%       }
%%       Media::Image { images } => {
<ul class=thumbnails>
%%         for (i, image) in images.iter().enumerate() {
  <li>
    <a href=/package/{{ self.fingerprint }}/{{ Ordinal(i) }}>
      <img loading=lazy src=/media/image/{{ self.fingerprint }}/item/{{ Ordinal(i) }}>
    </a>
  </li>
%%         }
</ul>
%%       }
%%       Media::Video { videos } => {
<ol>
%%         for (i, video) in videos.iter().enumerate() {
  <li><a href=/package/{{ self.fingerprint }}/{{ Ordinal(i) }}>{{ video.filename }}</a></li>
%%         }
</ol>
%%       }
%%     }
%%   }
%% }
