<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <meta name=viewport content='width=device-width,initial-scale=1.0'>
    <title>{{ self.content.title() }}</title>
    <meta name=description content='Filepack package server'>
%% if let Some(open_graph_description) = self.content.open_graph_description() {
    <meta property=og:description content='{{ open_graph_description }}'>
%% }
%% if let Some(base) = &self.base
%%   && let Some(open_graph_image) = self.content.open_graph_image()
%% {
    <meta property=og:image content='{{ base.join(&open_graph_image.path).unwrap() }}'>
    <meta property=og:image:height content={{ open_graph_image.height }}>
    <meta property=og:image:width content={{ open_graph_image.width }}>
%% }
    <meta property=og:site_name content=filepack>
    <link href=/static/index.css rel=stylesheet>
%% if let Some(stylesheet) = self.content.stylesheet() {
    <link href={{ stylesheet }} rel=stylesheet>
%% }
  </head>
  <body>
    {{ Trusted(&self.content) }}
  </body>
</html>
