<!doctype html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <meta name=viewport content='width=device-width,initial-scale=1.0'>
%% if let Some(metadata) = &self.metadata {
    <title>{{ metadata.title }}</title>
%% }
    <style>
      .monospace {
        font-family: monospace;
      }
    </style>
  </head>
  <body>
%% if let Some(metadata) = &self.metadata {
    <h1>{{ metadata.title }}</h1>
%% }
    <dl>
      <dt>file count</dt>
      <dd>{{ self.manifest.files.len() }}</dd>
      <dt>total size</dt>
      <dd>{{ Bytes(self.manifest.total_size()) }}</dd>
      <dt>fingerprint</dt>
      <dd class=monospace>{{ self.manifest.fingerprint() }}</dd>
      <dt>signatures</dt>
%% for key in self.manifest.signatures.keys() {
      <dd class=monospace>{{ key }}</dd>
%% }
      <dt>files</dt>
      <dd>
        <table>
%% for (path, entry) in &self.manifest.files {
          <tr>
%% if self.present.contains(path) {
            <td class=monospace><a href="{{ path }}">{{ path }}</a></td>
%% } else {
            <td class=monospace>{{ path }}</td>
%% }
            <td>{{ Bytes(entry.size.into()) }}</td>
          </tr>
%% }
        </table>
      </dd>
    </dl>
  </body>
</html>
