name: CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

defaults:
  run:
    shell: bash

env:
  RUSTFLAGS: --deny warnings

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Rust Toolchain
      run: rustup toolchain install stable --profile minimal --component rustfmt,clippy

    - uses: Swatinem/rust-cache@v2

    - name: Clippy
      run: cargo clippy --workspace --all-targets

    - name: Format
      run: cargo fmt --all -- --check

    - name: Check for Forbidden Words
      run: |
        sudo apt-get install ripgrep
        ./bin/forbid

  test:
    strategy:
      matrix:
        os:
        - macos-latest
        - ubuntu-latest
        - windows-latest

    runs-on: ${{matrix.os}}

    steps:
    - uses: actions/checkout@v4

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install nettle-dev

    - name: Install Rust Toolchain
      run: rustup toolchain install stable --profile minimal

    - uses: Swatinem/rust-cache@v2

    - name: Test
      run: cargo test --workspace
